<div>
  <footer
    class="flex justify-between p-4 py-4 text-center text-white bg-gray-800"
  >
    <div>
      <p>Contatos</p>
      <div>
        <p class="hover:text-blue-700">
          <a href="https://github.com/Dikendev" target="_blank" rel="external"
            >GitHub</a
          >
        </p>
        <p class="hover:text-blue-700">
          <a
            href="https://www.linkedin.com/in/diken-developer/"
            target="_blank"
            rel="external"
            >Linkedln</a
          >
        </p>
      </div>
    </div>

    <div>
      <p>Desenvolvido por</p>
      <p>{{ developer }}</p>

      <p>© 2024 - Todos os direitos reservados</p>
    </div>

    <div class="flex items-center justify-center"><3</div>
  </footer>
</div>
