<div class="w-full h-full bg-white pb-28">
  <div>
    <h1 class="text-4xl text-center text-white">Welcome to the Home Page</h1>
  </div>

  <div class="flex justify-between w-full my-14">
    <div class="flex flex-col gap-4">
      <app-greetings class="w-[80%]"></app-greetings>
      <app-feature
        class="w-full"
        [text]="textTitle"
        [customCss]="'text-lg px-4 text-justify'"
      ></app-feature>
    </div>
    <div class="relative">
      <h1 class="absolute top-2 left-16 z-40">{{ helpText }}</h1>

      <div id="canvas"></div>
    </div>
  </div>

  <div
    class="bg-gradient-to-r from-blue-900 via-blue-700 to-blue-700 bg-opacity-75 w-full h-[12rem] mb-4 flex justify-center items-center gap-4 px-5"
  >
    <app-feature
      class="p-2 font-semibold text-black bg-white border-2 border-white rounded-lg"
      [customCss]="'text-justify'"
      [text]="text"
    ></app-feature>

    <app-feature
      class="flex flex-col items-center my-5 text-white"
      [customCss]="'text-justify'"
      [title]="explanationTitle"
      [text]="explanationText"
    ></app-feature>
  </div>

  <h1 class="flex justify-center text-[2rem] mt-8 font-bold">Vamos começar?</h1>

  <div class="flex flex-col gap-6">
    <app-feature
      class="flex justify-center w-full p-2"
      [customCss]="'text-center'"
      [text]="howItWorksText"
    ></app-feature>

    <app-analytic></app-analytic>
  </div>
  <p class="flex justify-center p-4 mt-4 text-sm bg-yellow-300">
    {{ lgpdText }}
  </p>
</div>
